:host {
  display: block;
}

.filter-bar-container {
  background: #eaf1fb;
  display: flex;
  align-items: center;
  height: 3rem;

  > mat-select {
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
  }

  > input {
    font-size: 1.1rem;
    outline: none;
    border: none;
    background: inherit;
    width: 100%
  }
}
